@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D2464Bff;
    color: #FFFF;
}

html {
    font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #FFFF;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    padding: 1.5rem 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    text-transform: uppercase;
}
.menu{
    display: flex;
    gap: 1.5rem;
}
/* From Uiverse.io by kamehame-ha */ 
.button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 15px;
    background-color: #ed7b7b;
    outline: 3px #ed7b7b solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    margin-right: 16px;
  }
  
  .button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .button svg path {
    transition: 400ms;
  }
  
  .button:hover {
    background-color: transparent;
  }
  
  .button:hover .text {
    color: #ed7b7b;
  }
  
  .button:hover svg path {
    fill: #ed7b7b;
  }

  header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .navbar{
    position: fixed;
    background-color: #D2464Bff;
    width: 100%;
  }

  .logo{
    margin-left: 20px;
  }
.main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.principal{
    background-color: #ed7b7b;
}

.hero{
    max-width: 1120px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    padding: 0rem 1rem;
    margin: auto;
    overflow: clip;
}

.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
    align-items: flex-start;
}
.encontre{
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

hr {
    border-color: #D2464Bff;
    width: 450px;
}

.hero-sub{
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  
  font-style: normal;
    
}
.hero-imagens{
    max-width: 48%;
    column-count: 4;
    column-gap: 1rem;
    margin: -1rem;
}

.hero-imagens > figure > img {
    width: 100%;
    border-radius: 0.5rem;
}

.receitas {
    display: flex;
    flex-direction: column;
    max-width: 1120px;
    padding: 3rem 1rem;
    margin: auto;
}
.recipes{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.receitas-rosa{
    text-transform: uppercase;
    color: bisque;
    font-size: 2.5rem;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.confira{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.cards{
    padding: 2rem 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}
.card {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
  }

.card2 {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card2:hover .card__content2 {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title2 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description2 {
  margin: 2px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card2:hover svg {
  scale: 0;
}

.card3 {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card3 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card3:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card3:hover .card__content3 {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title3 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description3 {
  margin: 2px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card3:hover svg {
  scale: 0;
}

.card4 {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card4 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card4:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card4:hover .card__content4 {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title4 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description4 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card4:hover svg {
  scale: 0;
}

.card5 {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card5 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card5:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content5 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card5:hover .card__content5 {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title5 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description5 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card5:hover svg {
  scale: 0;
}

.card6 {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card6 svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card6:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card6:hover .card__content6 {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title6 {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description6 {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card6:hover svg {
  scale: 0;
}



  
